<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/body :: head"></div>
</head>
<body th:replace="fragments/body :: body(~{::#content})">
<div id="content">
    <div class="text-right">
        <a href="/store/add" class="btn btn-success">Toevoegen</a>
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title">Striped Table</h4>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Matcher</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(items)}">
                    <td align="center" colspan="4">
                        <span class="text-muted">Geen items</span>
                    </td>
                </tr>
                <tr th:each="item: ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.matcher}"></td>
                    <td>
                        <a th:href="@{'/store/delete/' + ${item.id}}">
                            <i class="fa fa-fw fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>