<!doctype html>
<html lang="en">
<head>
    <div th:replace="fragments/body :: head"></div>
</head>
<body th:replace="fragments/body :: body(~{::#content})">
<div id="content">
    <div class="card">
        <div class="header">
            <h4 class="title">Striped Table</h4>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="content table-responsive table-full-width">
            <div class="content">
                <div class="text-right">
                    <a href="/form" class="btn btn-success">Upload export</a>
                </div>
            </div>
            <table class="table table-striped">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                <div class="footer">
                    <div class="chart-legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="ti-timer"></i> Campaign sent 2 days ago
                    </div>
                </div>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Datum</th>
                    <th>Bedrag</th>
                    <th>Omschrijving</th>
                    <th>Store</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${#dates.format(item.date,'dd-MM-YYYY')}"></td>
                    <td th:text="${item.amount}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.store?.name}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-checkbox-radio.js"></script>
<script src="/js/chartist.min.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/js/paper-dashboard.js"></script>

<script>
    Chartist.Pie('#chartPreferences', {
        labels: ['62%', '32%', '6%'],
        series: [62, 32, 6]
    }, {
        donut: true
    });
</script>
</html>
